html {
    font-family: 'Segoe UI' !important;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.HeaderBg {
    background-color: #1a1a1a;
    height: 90px;
}

.title {
    color: #00abec;
    font-size: 20px;
    padding-left: 10px;
}

.DocDBicon {
    padding-bottom: 10px;
    /* padding-top:20px; */
}

.menuQuickStart {
    font-size: 14px;
}

.menuExplorer {
    padding-left: 28px;
    font-size: 14px;
}

a:hover {
    text-decoration: none;
}

#createacnt {
    padding-left: 1500px;
}

.belowbg {
    background-color: #f2f2f2;
    height: 42px;
}

.adjustheight {
    height: 6px;
}

.iconpad {
    font-size: 12px;
    padding: 8px 24px;
    font-weight: 600;
}

#btnmainslide {
    padding-top: 16px;
    padding-right: 16px;
    width: 12%;
}

.submenuicons {
    width: 1.1%;
    margin-right: 6px;
}

.createdocdbacnt {
    color: #a5ce00;
    position: absolute;
    right: 25px;
    font-size: 18px;
}

#sidebar {
    position: absolute;
    top: 125px;
    bottom: 0;
    left: 0;
    width: 200px;
    background: lightgray;
}

.level3 {
    padding-left: 0px;
    font-size: 18px;
    padding-top: 25px;
}

.level {
    padding-left: 20px;
    padding-top: 25px;
}

.nav > li > a {
    color: black;
    font-weight: 400;
}

.items {
    padding-left: 24px;
    padding-top: 15px;
}

.headline h4, .headline p {
    display: inline-block;
}

.step1 {
    padding-left: 20px;
    padding-top: 25px;
}

.para1 {
    font-weight: 400;
}

.butn1 {
    font-weight: 400;
}

.para2 {
    font-weight: 400;
    padding-top: 10px;
}

ul {
    list-style-type: none;
    padding-left: 23px;
}

.atags {
    color: #00abec;
    font-weight: 400;
}

.headl2 {
    font-weight: 400;
}

.parap {
    padding-left: 10px;
}

.padleft {
    padding-left: 20px;
}

a {
    cursor: pointer;
}

.tabcontent {
    display: none;
}

#imgiconwidth {
    width: 1.7% !important;
    margin-right: 8px;
}

.spanmenu {
    padding-right: 24px;
    font-size: 16px;
}


/* other*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #wrapper.toggled {
        padding-left: 250px;
    }

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

.page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled .page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.arrowbt {
    width: 1px;
}
/* Sidebar Styles */
.verticalLine ul:after {
    content: '';
    width: 0;
    height: 780px;
    position: absolute;
    border: 1px solid #d6d7d8;
    top: 0;
    left: 270px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

    .sidebar-nav li {
        text-indent: 20px;
        line-height: 40px;
    }

        .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: black;
        }

            .sidebar-nav li a:active,
            .sidebar-nav li a:focus {
                text-decoration: none;
            }

    .sidebar-nav > .sidebar-brand {
        height: 65px;
        font-size: 18px;
        line-height: 60px;
    }

        .sidebar-nav > .sidebar-brand a {
            color: black;
        }

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

        #wrapper.toggled {
            padding-left: 0;
        }

    #sidebar-wrapper {
        width: 277px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    .page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled .page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

ul li ul {
    display: none;
}

.ptagfont {
    font-size: 14px;
    padding-top: 2px;
}

.padtopul {
    padding-top: 40px;
}

.padbotli {
    padding-bottom: 10px;
}

/* sideminibar css*/

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    margin: 0;
}

.main-nav {
    width: 100vh;
    height: 45px;
    position: absolute;
    background: whitesmoke;
    -webkit-transform-origin: left top;
    -webkit-transform: rotate(-90deg) translateX(-100%);
}

ul.nav {
    margin: 0 auto;
    margin-top: 0px;
}

    ul.nav li {
        margin-right: 20px;
        float: right;
        line-height: 25px;
        height: auto;
    }

#minislide {
    background-color: whitesmoke;
    width: 50px;
    height: 1000px;
}


/*bootstrap tree*/
.well {
    padding: 19px 0px;
    padding-top: 40px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid white;
}

.tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0 5px;
    /*position: relative;*/
}

    .tree li::before, .tree li::after {
        content: '';
        left: -20px;
        position: absolute;
        right: auto;
    }

    .tree li::before {
        border-left: 1px solid #999;
        bottom: 50px;
        height: 100%;
        top: 0;
        width: 1px;
    }

    .tree li::after {
        border-top: 1px solid #999;
        height: 20px;
        top: 25px;
        width: 25px;
    }

    .tree li span {
        /*-moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border: 1px solid #999;
                    border-radius: 5px;*/
        display: block;
        /*padding: 3px 8px;*/
        text-decoration: none;
        padding: 2 19px;
    }

    .tree li.parent_li > span {
        cursor: pointer;
    }

.tree > ul > li::before, .tree > ul > li::after {
    border: 0;
}

.tree li:last-child::before {
    height: 30px;
}

.tree li.parent_li > span:hover , .tree li.parent_li > ul:hover {
   background-color: lightskyblue;
   font-weight:500;
   color: #000;
   cursor:pointer;
}

.imgarrowstyle {
    height: 10px;
    width: 10px;
    margin-right: 10px;
    margin-left: 24px;
}

.imgdocdb {
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.imgdoccol {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    margin-left: 24px;
}

#spandbstyle {
    font-size: 18px;
    display: inline;
    vertical-align: middle;
}

#spancolstyle {
    font-size: 16px;
    display: inline;
    vertical-align: middle;
}



.test  {
    background-color: lightskyblue;
    font-weight:500;
}

.rightarrowimg{
    padding-left:20px; 
    padding-bottom: 3px;
}


@media (min-width: 992px) {
    .col-md-9 {
        padding-left: 30px;
        padding-top: 24px !important;
    }
}
